/* Header */
div.headerContainer {
    width: 100%;
    background-color: #F15C62;
}

div.header {
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.options1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
}

.option {
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.cart-icon-container {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .shopping-icon {
    width: 37px;
    height: 37px;
  }

  .item-count {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    bottom: 23px;
  }