/* Footer */
div.footerContainer {
    width: 100%;
    margin: 0;
    background-color: #F15C62;
}

div.contact {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    color: white;
    width: 70%;
    margin: 20px auto 30px;
}

.blockContact {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.footerImage {
    margin-top: 10px;
}

.footerImage iframe {
    width: 300px;
    height: 200px;
    border: 0px;
}

.footerTable1 {
    margin-left: 2px;
}

.footerTable1 table tr td {
    padding-right: 50px;
    font-size: 20px;
}

.footerTitle {
    font-weight: bolder;
    font-size: 25px;
}

.footerSubTitle {
    font-size: 20px;
    margin-top: 5px;
}