.checkoutContainer {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    width: 49%;
}

.checkoutTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.customerSection {
    width: 100%;
    margin-bottom: 30px;
}

.customerSection table {
    width: 100%;
}

.cartItems {
    margin-top: 35px;
}

.footerTable {
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

.footerTable table {
    width: 40%;
}

.placeOrderButton {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
    margin-top: 20px;
}

.orderButton {
    position: relative;
    margin: 0px;
    padding: 7px 30px;
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #F15C62;
    box-shadow: transparent 0px 0px 0px 1px inset;
    color: rgb(255, 255, 255);
}

.orderButton span {
    font-size: 15px;
    font-weight: bolder;
}